<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedbacks</title>
</head>
<body>
<h1>Feedbacks</h1>
<ul>
    <li>
        <input onclick="window.location.href='Feedbacks_Inputs.html'" type="button" value="Input feedback data">
    </li>
    <li>
        <input onclick="window.location.href='Feedbacks_Outputs.html'" type="button" value="Output feedback data">
    </li>
    <li>
        <input onclick="window.location.href='Feedbacks_Updates.html'" type="button" value="Update feedback data">
    </li>
    <li>
        <input onclick="window.location.href='Feedbacks_Delete.html'" type="button" value="Delete feedback data">
    </li>
</ul>
</body>
</html>