<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
</head>
<body bgcolor="red">
<h1>Main menu</h1>
<h2>Developed by Marina & Oksana</h2>
<ul>
    <li>
        <input onclick="window.location.href='Participants.html'" type="button" value="Participants">
    </li>
    <li>
        <input onclick="window.location.href='Teachers.html'" type="button" value="Teachers">
    </li>
    <li>
        <input onclick="window.location.href='Subjects.html'" type="button" value="Subjects">
    </li>
    <li>
        <input onclick="window.location.href='ProgressRecordBook.html'" type="button" value="Progress record books">
    </li>
    <li>
        <input onclick="window.location.href='Feedbacks.html'" type="button" value="Feedbacks">
    </li>
</ul>
</body>
</html>