<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Participants</title>
</head>
<body>
<h1>Participants</h1>
<ul>
    <li>
        <input onclick="window.location.href='Participants_Inputs.html'" type="button" value="Input participant data">
    </li>
    <li>
        <input onclick="window.location.href='Participants_Outputs.html'" type="button" value="Output participant data">
    </li>
    <li>
        <input onclick="window.location.href='Participants_Updates.html'" type="button" value="Update participant data">
    </li>
    <li>
        <input onclick="window.location.href='Participants_Delete.html'" type="button" value="Delete participant data">
    </li>
</ul>
</body>
</html>