<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progress Record Book Updates</title>
</head>
<body id="body">
<h1>Update Progress Record Book Data</h1>
<form action="" id="PRBU_Form" method="get" onsubmit="return checkRatingValidation(event)">
    {% csrf_token %}
    <label>
        Set:
    </label>
    &nbsp;
    <select id="list" name="col">
        <option selected value="TeacherID">Teacher ID</option>
        <option value="ParticipateID">Participant ID</option>
        <option value="SubjectCode">Subject Code</option>
        <option value="rating">Rating</option>
    </select>
    <label>
        To value:
    </label>
    &nbsp;
    <input id="val" name="val" required type="number">
    <br>
    <label>
        Where:
    </label>
    <select name="condition_col">
        <option selected value="">_</option>
        <option value="TeacherID">Teacher ID</option>
        <option value="ParticipateID">Participant ID</option>
        <option value="SubjectCode">Subject Code</option>
        <option value="rating">Rating</option>
    </select>
    <label>
        With value:
    </label>
    &nbsp;
    <input name="condition_val" type="number">
    <br>
    <input type="submit" value="Update">
</form>
<script>
    function checkRatingValidation(event) {
        list = document.getElementById("list");
        if (list.value === "rating") {
            val = document.getElementById("val").value;
            if (val < 2 || val > 5) {
                event.preventDefault();
                body = document.getElementById("body");
                newEl = document.createElement("h1");
                newEl.appendChild(document.createTextNode("Invalid Rating Value, Try Again."));
                body.appendChild(newEl);
                return false;
            }
        }
        document.getElementById("PRBU_Form").action = "/ProgressRecordBook_UpdatesPy";
        document.getElementById("PRBU_Form").submit();
        return true;
    }

</script>
</body>
</html>