<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progress Record Book</title>
</head>
<body>
<h1>Progress Record Book</h1>
<ul>
    <li>
        <input onclick="window.location.href='ProgressRecordBook_Inputs.html'" type="button"
               value="Enter progress record book data">
    </li>
    <li>
        <input onclick="window.location.href='ProgressRecordBook_Outputs.html'" type="button"
               value="View progress record book data">
    </li>
    <li>
        <input onclick="window.location.href='ProgressRecordBook_Updates.html'" type="button"
               value="Update progress record book data">
    </li>
    <li>
        <input onclick="window.location.href='ProgressRecordBook_Delete.html'" type="button"
               value="Delete progress record book data">
    </li>
</ul>
</body>
</html>